export GIT_SSH_COMMAND="ssh -i ~/.ssh/id_ed25519_ai4mgreenly -o IdentitiesOnly=yes"
PATH_add .claude/bin

export FANDEX_WATCH_PATH="$HOME/projects-dev"
export FANDEX_DB_PATH="$HOME/.local/state/fandex-dev/fandex.db"
export FANDEX_SOCKET_PATH="/run/user/$(id -u)/fandex-dev/fandex.sock"
